.conteiner{
    border: 2px solid rgb(102, 102, 102);
    background-color: rgb(159, 157, 157);
    border-radius: 10px;
    width: 180px;
    padding: 10px;
    box-shadow: 0 0 20px black;
    margin: 20px;
}
.image{
    width: 95%;
    border-radius: 10px;
    border: 2px solid rgb(153, 153, 153)
}
.buttonConteiner{
    display: flex;
    justify-content: flex-end;
}
.buttonConteiner button{
    margin: 3px 3px 0 0;
    background-color: brown;
    color: white;
    border:none;
    border-radius: 3px;
}
.data{
    display: flex;
    justify-content: space-around;
    background-color: rgb(120, 161, 196);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(31, 31, 31);
}
